@import url('https://fonts.cdnfonts.com/css/sofia-pro');

* {
    font-family: 'Sofia Pro', sans-serif;
}

.white-sections {
    background: #FFFBE5;
}

.yellow-sections {
    background: #FED400;
}

body,
html {
    scroll-behavior: smooth;
}

.one-line-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-text p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-text p {
    margin: 0;
}

.clear {
    clear: both;
    height: 5rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.mobile-ver {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;
}

.no-scroll {
    overflow-y: hidden;
}

.menu-items.menu-items {
    max-width: 400px;
    list-style: none;
    width: 400px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;

}

.logo img {
    object-fit: cover;
}

.menu-item a {
    color: black !important;
    text-decoration: none !important;
}

.social-icons {
    max-width: 230px;
    list-style: none;
    width: 230px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.lines .line {
    background: black;
    width: 40px;
    transition: all .4s;
    height: 1px;
}

/*.midle {*/
/*    display: ;*/
/*}*/

.line-1 {
    transform: rotate(37deg);
    transform-origin: top left;
}

.line-3 {
    transform: rotate(-37deg);
    transform-origin: top left;
}

.lines {
    display: none;
    flex-direction: column;
    height: 25px;
    justify-content: space-between;
}

.social-icons .social-icon a {
    font-size: 1.25rem;
    display: flex;
    border-radius: 100%;
    padding: 0.5em 0.75rem;
    cursor: pointer;
    transition: all .2s;
    text-align: center;
    color: #343435;
    align-items: center;
    justify-content: center;
}

header .social-icons .social-icon a {
    border: 1px solid #343435;
}

.social-icons .social-icon a i {
    transition: all .2s;
}

.social-icons .social-icon a:hover {
    background-color: #FED400;
    border: 1px solid #FED400;
    text-decoration: none;
}

.social-icons .social-icon a:hover i {
    color: white;
}

.banner {
    background: #F1F1F1;
}

.section-space {
    padding: 6rem 0;

}

.section-space-2 {
    padding: 1rem 0;

}

.propertys {
    padding: 1.5rem 0;
    text-align: center;
}

.blog.card {
    padding: 3px;
    border: 2px solid #0000001c !important;
    transition: all .4s;
}

.blog.card:hover {
    border: 2px solid #FED400 !important;
}

.blogs {
    height: 470px;
}


/*.blog .card-body p {*/
/*    overflow: hidden;*/
/*    display: -webkit-box;*/
/*    -webkit-line-clamp: 5;*/
/*    line-clamp: 5;*/
/*    -webkit-box-orient: vertical;*/
/*}*/

.blog .card-body {
    height: 200px;
    overflow: hidden;
    transition: all .5s;
}



.blog.card:hover.blog .card-body {
    height: 250px;
}

.blog.card:hover .card-body a.btn {
    margin-bottom: 0rem;
}

.blog .card-body a.btn {
    margin-bottom: -5rem;
    transition: all .5s;
    border: 1px solid #FED400;
}

.blog .card-body a.btn:hover {
    border: 1px solid #FED400;
    background: white;
    color: #FED400 !important;
}

.cuce-kopru {
    position: absolute;
    bottom: 4rem;
    right: 0;
}

footer .social-icon a {
    border: 1px solid white;
}

footer .social-icons {
    float: right;
}

footer.bg-dark {
    padding: 1rem 0;
}

.yellow-banner {
    background: #FED400;
    padding: 4rem 0;
}

.contact-link,
.contact-blok {
    color: #343435;
    transition: all .4s
}

.contact-blok {
    padding: 4rem 0;
    background: #F9F9F9;
    border-radius: 1rem;
}

.contact-blok {
    justify-content: space-between;
}

.contact-blok:hover {
    background-color: #FED400;
}

.contact-blok:hover .contact-link {
    color: #fff;
    text-decoration: none;
}

.contact-link div.text-center {
    max-width: 200px;
    margin: 0 auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-link i {
    font-size: 2rem;
}

.form-inputs:not(.form-button) {
    padding-left: .75rem !important;
}

.form-inputs {
    outline: 1px solid rgba(128, 128, 128, 0.634);
    border: 0;

    border-radius: 10px;
}

.form-button:hover {
    background: white !important;
    color: #FED400 !important;
}

.form-button {
    outline: none;
    border: 1px solid #FED400;
    transition: all .4s !important;
    padding: .5rem 3rem;

}

textarea {
    resize: none !important;
}

.form-inputs {
    padding: 0.5rem 0;
}

.form-inputs:focus-within {
    outline: 1px solid #FED400;

}

.form-area {
    border: 1px solid rgba(128, 128, 128, 0.634);
    ;
}

.formRow {
    padding: 2rem;
}

.formRow .col-md-6.col-sm-12,
.formRow .col-12 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.all-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}

.blog-card {
    height: 500px;
}

.blog-image img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.blog-detail {
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #FED400;
}

.content {
    padding: 0 1rem;
}

.header {
    padding: 1rem;
}

@media screen and (max-width: 1200px) {
    .mobile-ver {
        max-width: 645px;
    }

    .cuce-kopru {
        display: none;
    }
}

@media screen and (max-width: 1024px) {

    .mobile-ver,
    .menu-items {
        flex-direction: column;
        align-items: center;
    }

    .mobile-ver {
        max-width: 100%;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
        position: absolute;
        top: 0;
        left: -100%;
        background: white;
        transition: all.4s;
        z-index: 99;

    }

    .open {
        left: 0;
        right: 0;
        overflow: hidden;
    }

    .lines {
        display: flex;
        z-index: 999;
    }

    header {
        position: relative;
    }

    .menu-items {
        height: 220px;
    }

}

@media screen and (max-width: 994px) {
    .blogs {
        height: auto;
    }

    .blog .card-body {
        height: 250px;
        overflow: hidden;
        transition: all .5s;

    }

    .blog.card .card-body a.btn {
        margin-bottom: 0rem;
    }

    .blog {
        margin: 1rem auto;
    }

    .blogs {
        justify-content: center;
    }

    .blog.card {
        border: 2px solid #FED400 !important;
    }

    .blog.card.card-body a.btn {
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 768px) {

    .contact-bloks,
    .form-container .row {
        row-gap: 1rem;
    }

    .form-container .row .col-md-6.col-lg-6.col-sm-12:first-child {
        height: 500px;
    }

    footer .social-icons {
        float: none;
        margin: 0 auto;
    }

    footer .row {
        text-align: center;
        row-gap: 1rem;
    }
}